body{
    background-color:  white;
    border: tomato;
    border-width: 1px;
}

.loading {
    position: absolute;
    top: 100px;
    left: 210px;
    color: #FF7F00;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
  }
