body{
    background-color: rgb(41, 41, 41);
    border: tomato;
    border-width: 1px;
    margin:0 0 0 0;
}

.loading {
    position: absolute;
    margin:0 0 0 0;
    color: rgb(255, 255, 255);
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    cursor: default;
  }
